<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxu.tbvp.mapper.AccessrecordMapper" >
  <resultMap id="BaseResultMap" type="com.gxu.tbvp.domain.Accessrecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="buyProduceId" property="buyproduceid" jdbcType="INTEGER" />
    <result column="buyTool" property="buytool" jdbcType="INTEGER" />
    <result column="buyTime" property="buytime" jdbcType="TIMESTAMP" />
    <result column="buy_price" property="buyPrice" jdbcType="DOUBLE" />
    <result column="totalTime" property="totaltime" jdbcType="INTEGER" />
    <result column="buyCount" property="buycount" jdbcType="INTEGER" />
  </resultMap>
</mapper>