<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxu.tbvp.mapper.BuyrecordMapper" >
  <resultMap id="BaseResultMap" type="com.gxu.tbvp.domain.Buyrecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="accessProduceId" property="accessproduceid" jdbcType="INTEGER" />
    <result column="accessTool" property="accesstool" jdbcType="INTEGER" />
    <result column="accessTime" property="accesstime" jdbcType="TIMESTAMP" />
    <result column="totalTime" property="totaltime" jdbcType="INTEGER" />
  </resultMap>
</mapper>