<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxu.tbvp.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.gxu.tbvp.domain.Role" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleDesc" property="roledesc" jdbcType="VARCHAR" />
  </resultMap>

  <select id="queryRoleListWithSelected" parameterType="int" resultType="com.gxu.tbvp.domain.Role">
    SELECT r.id,r.roleDesc,
    (CASE WHEN (SELECT ur.roleId FROM user_role ur WHERE ur.userId= #{id} AND ur.roleId = r.id) THEN 1 ELSE 0 END) AS selected
    FROM role r
  </select>
</mapper>